canvas {
    background: #EEEEEE;
    display: block;
    margin: 0 auto;
    border: 2px solid #ebee23;
}

.container {
    background: #EEEEEE;
    display: block;
    margin: 0 auto;
    width: 480px;
    height: 320px;
    padding: 20px;
}

#main {
    position: relative;
    bottom: 50%;
    margin: 0 auto;
    text-align: center;
}